@media ( max-width:767px ){


    .container{
        width: auto;
        display: flex;
        align-items: center;

    }
    .image{
        height: 100%;
        width: 100%;
        background-image: url(..//ASSETS/IMAGE/embreve-smatphone.png);
        background-position: center;
        background-size: cover;
    }

}
